{% extends 'base.html' %}

{% block content %}

<section class="bg-white py-8 dark:bg-gray-900 md:py-16 flex justify-center items-center">
    <form method="post" hx-post="{% url 'analyzer_home' %}" hx-target="#result-container" hx-indicator="#loading-indicator">
        {% csrf_token %}

        <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
            <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                <label for="{{ form.text.id_for_label }}" class="sr-only">
                    {{ form.text.label }}
                </label>
                {{ form.text }}
                {% if form.text.errors %}
                    <p class="text-sm text-red-500">{{ form.text.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="px-4 py-2 bg-white dark:bg-gray-800">
                <label for="{{ form.task.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    {{ form.task.label }}
                </label>
                {{ form.task }}
                {% if form.text.errors %}
                    <p class="text-sm text-red-500">{{ form.task.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600 border-gray-200">
                <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                    Submit
                </button>
            </div>
        </div>
    </form>
</section>

<section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-12">
    <div id="loading-indicator" class="dark:text-white" style="display:none;">Loading...</div>

    <div id="result-container">
        {% include 'results.html' %}
    </div>
</section>

<script>
    // Add a listener to show the loading indicator when the request starts and hide it when complete
    document.addEventListener('htmx:configRequest', function(event) {
        const indicator = document.querySelector('#loading-indicator');
        if (indicator) {
            indicator.style.display = 'block';
        }
    });

    document.addEventListener('htmx:afterRequest', function(event) {
        const indicator = document.querySelector('#loading-indicator');
        if (indicator) {
            indicator.style.display = 'none';
        }
    });
</script>

{% endblock content %}

